/* Defaults */
:root {
	--font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica,
		arial, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-coral: #d95e47; /* пильний корал */
	--color-olive: #5a5d4f; /* темна оливка */
	--color-neon: #b9f73a; /* неоново-салатовий */
	--color-milk: #F2F1EC; /* молочний */
	--color-dark: #2a2a2a; /* текст на світлому */

	--background-color: var(--color-milk);
	--text-color: var(--color-dark);

	--text-color-link: var(--color-dark);
	--text-color-link-active: var(--color-coral);
	--text-color-link-visited: var(--color-olive);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: var(--color-dark);
		--text-color: var(--color-milk);

		--text-color-link: var(--color-milk); /* посилання в активному світлому */
		--text-color-link-active: var(--color-coral); /* наведене */
		--text-color-link-visited: var(--color-olive); /* відвідане */
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

body {
	padding: 2em;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
header {
	margin-bottom: 20px;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
	opacity: 0.9;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}
.p5-container {
	min-height: 500px;
	margin: 0 auto;
}
p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
	text-decoration: none;
}

main,
footer {
	padding: 0;
}
main :first-child {
	margin-top: 0;
}

.hero-wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	height: 80vh;
	align-items: center;
}

.hero-wrapper canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.hero {
	position: relative;
	display: flex;
	flex-direction: column;		
	text-align: center;
	z-index: 1;
}
.hero h1 {
	font-size: 5em; /* 40px /16 */
	line-height: 1.2;
	margin: 0;
}
.hero p {
	font-size: 1.125em; /* 18px /16 */
	line-height: 1.5;
	margin: 0;
	opacity: 0.5;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}
.home-link {
	position: absolute;
	flex-grow: 1;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	flex-direction: column;	
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	font-size: 2em; /* 16px /16 */
	text-transform: lowercase;
	line-height: 1.2;
}
.nav-item a[href] {
	text-decoration: none;
}

/* Posts list */
.postlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em 2em;
	justify-content: flex-start;
	align-items: left;
	padding: 0;
}
.list-item {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 1em;
}
.postlist-title {
	font-size: 1em; /* 24px /16 */
	text-transform: lowercase;

}
.postlist-meta {
	font-size: 1em;
	line-height: 1.5;
	opacity: 0.5;
}
/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Post Formatting */
.post-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 28px;
}
.post-metadata {
	display: flex;
	flex-direction: column;
	gap: 0.5em;	
	margin: 0;
	opacity: 0.5;
	text-transform: lowercase;
}
.post-meta {
	font-size: 0.8em; /* 16px /16 */
	line-height: 0.9;
}
.post-text {
	grid-column-start: 2;
	grid-column-end: 4;
}
.list-image {
	width: 100%;
	max-width: 300px;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 8px;
	object-fit: cover;
}

.writing {
	max-width: 555px;
	margin: 0 auto;
}
.writing h1 {
	font-size: 2em; /* 32px /16 */
	font-weight: 300;
	line-height: 0.9;
	margin: 0 0 5rem 0;
	text-transform: uppercase;
}

/* Одна кнопка для відкриття/закриття */
#menu-toggle {
	position: fixed;
	top: 1rem;
	right: 2rem;
	padding: 0;
	z-index: 1100;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--text-color);
}
/* Іконка ☰ (меню) по замовчуванню */
#menu-toggle::before {
	content: "☰";
}

/* Іконка ✕ коли меню відкрите */
#menu-toggle.open::before {
	content: "✕";
}

/* Offcanvas меню — з правого краю */
.offcanvas {
	position: fixed;
	top: 50px;
	right: -100%;
	width: 100%;	
	background: var(--background-color);	
	padding: 2em;
	/* transition: right 0.3s ease; */
	z-index: 1000;
	border-bottom: var(--text-color) 1px solid;
	border-top: var(--text-color) 1px solid;
	backdrop-filter: blur(10px);
	opacity: 0.9;
}

.offcanvas.open {
	right: 0;
}

@media screen and (max-width: 1200px) {
	.post-container {
		grid-template-columns: 1fr 1fr;
	}
	.post-text {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.hero h1 {
		font-size: 4em; /* 40px /16 */
	}

	.hero p {
		font-size: 1.125em; /* 18px /16 */
	}
}

@media (max-width: 768px) {
	.offcanvas {
		width: 100%;
	}
	/* .offcanvas {
		transform: translateX(100%);
		transition: transform 0.3s ease;
		box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	} */

	.offcanvas.open {
		transform: translateX(0%);
	}
}
