<div class = "postlist">
{%- for post in postslist | reverse %}
	<div class="list-item">
		<img class = "list-image" src="{{ post.data.image | url }}" alt="{{ post.data.title }}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
	</div>
{%- endfor %}
</div>
