---
layout: layouts/base.njk
---

<section id="case-title" class="grid">
    <div class="two-column">
        <h1>{{ title }}</h1>
    </div>
    <div class="two-column case-meta">
        <p>{{ meta }}</p>
        <p>
            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | yearDate }}</time>
            <br/>
            {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <a href="{{ tagUrl }}">{{ tag }}</a>
                {%- if not loop.last %},
                {% endif %}
            {%- endfor %}
        </p>
    </div>
</section>
<section id="main-content" class="grid">
    {{ content | safe }}
    
</section>
<footer class="post-footer"></footer>
{%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}{%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
        <ul class="links-nextprev">
            {%- if previousPost %}
                <li class="links-nextprev-prev">← Previous<br>
                        <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
                    </li>
                {% endif %}
                {%- if nextPost %}
                    <li class="links-nextprev-next">Next →<br>
                            <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                        </li>
                    {% endif %}
                </ul>
            {%- endif %}
        {%- endif %}